*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: antiquewhite;
}

.container{
  margin: 100px 50px 30px;
}

.title{
  display: flex;
  align-items: center;
}

.title img{
  width: 50px;
  filter: drop-shadow(4px 4px 3px rgb(1, 1, 1, 0.1));
  user-select: none;
}

.title h1{
  display: inline-block;
  color: white;
  filter: drop-shadow(3px 3px 1px rgb(1, 1, 1, 0.2));
  user-select: none;
}

button{
  background: linear-gradient(blue, rgb(3, 3, 118) );
  border: none;
  color: white;
  border-radius: 50px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  margin: 20px 0 30px;
  cursor: pointer;
  box-shadow: 4.5px 4px 5px rgba(0, 0, 0, 0.2);
} 

button > img{
  width: 20px;
  margin-right: 10px;
}

button:active{
  box-shadow: none;
}

ul li{
  list-style: none;
  margin-bottom: 20px;
}


.note-text {
  display: flex;
  align-items: end;
}

.note-text textarea{
  width: 350px;
  height: 100px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px 8px rgb(1, 1, 1, 0.1);
}

.delete-img img{
  width: 15px;
  z-index: 1;
  
}

.delete-img{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: translate(-40px, -2px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .15s ease-in;
}

.delete-img:hover{
  background-color: rgba(77, 76, 76, 0.15);
}

.delete-img:active{
  opacity: 70%;
}